{% extends 'base.html.twig' %}

{% block title %}New Crud{% endblock %}

{% block body %}
    <h1>Create new Crud</h1>

    {{ include('crud2/_form.html.twig') }}

    <a href="{{ path('app_crud2_index') }}">back to list</a>
{% endblock %}
